@model IEnumerable<DAL.tblEquipo>

@{
    ViewBag.Title = "tblEquipoListar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1 class="text-center"><b>Listado de Equipos Tecnologicos</b></h1>

</div>

@*<h2 class="page-header">
</h2>*@

<h2 class="page-header">
    <a href="~/tblEquipo/tblEquiposAdd" class="btn btn-warning pull-right"> Agregar Equipo </a>

    <a href="@Url.Action("PrintListado", "tblEquipo")" class="btn btn-warning pull-right"> Exportar PDF </a>
</h2>

@*@Html.ActionLink("Exportar a Excel", "Reports", new { ReportType = "Excel" })
@Html.ActionLink("Exportar a PDF", "Reports", new { ReportType = "PDF" })
@Html.ActionLink("Exportar a Word", "Reports", new { ReportType = "Word" })*@

<hr />

<table id="grid" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="auto">
                Equipo
                @*@Html.DisplayNameFor(model => model.NOM_EQUIPO)*@
            </th>
            <th scope="col">
                Codigo Activo
                @*@Html.DisplayNameFor(model => model.CODIGO_ACTIVO)*@
            </th>
            <th scope="col">
                Estado
                @*@Html.DisplayNameFor(model => model.ACTIVO)*@
            </th>
            <th scope="col">
                Cantidad
                @*@Html.DisplayNameFor(model => model.CANTIDAD)*@
            </th>
            <th scope="col">
                Tipo de Dispositivo
                @*@Html.DisplayNameFor(model => model.DISPOSITIVO)*@
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOM_EQUIPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODIGO_ACTIVO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACTIVO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CANTIDAD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISPOSITIVO)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" href="~/tblEquipo/tblEquipoVer/@item.ID_Equipo"> Visualizar </a>
                    <a class="btn btn-success" href="~/tblEquipo/tblEquiposAdd/@item.ID_Equipo"> Editar </a>
                </td>
            </tr>
        }

    </tbody>



</table>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NOM_EQUIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODIGO_ACTIVO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTIVO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CANTIDAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISPOSITIVO)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.NOM_EQUIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO_ACTIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPOSITIVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Equipo }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_Equipo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_Equipo })
        </td>
    </tr>
    }

    </table>*@
